<%= form_tag('/scores', method: :post, id: "quiz") %>
	<% @questions.each do |question| %>
		<ul>
			<li class="questions"><%= question.content %></li>
		</ul>
		
		<% question.answers.each do |answer| %>
			
				<div class='input-group'>
					<span class='input-group-addon'>
						<%= radio_button_tag("answer[#{question.id}]", answer.id, checked = false, class: 'answers')%>

						<!-- adding empty dictionary as the second argument 
						because label tag wasn't using proper capitalization -->
						<%= label("answer", {}, answer.content, class: 'answers_label') %>
					</span>
				
				</div>

		<% end %>
		
		<br>

	<% end %>

	<input type="submit" name="submit_btn" id='quiz_submit_btn'>	



				