<div class='container'>

    <header id="top" class="header">
        <div class="text-vertical-center">
            <br>
            <br>
            <br>
        </div>
    </header>

	<head>
		
		
	</head>

	<body>
		<h1>Quiz of Thrones</h1>

		<button id="tempbtn"></button>

    	<div id='time'></div>
	
			<div class='col-md-12'>
				<ul>
					<%= render 'form' %>
				</ul>
		
			</div>

	</body>



<div>