

<html>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 class="animated bounceInDown">Quiz of Thrones</h1>
            <p class="animated fadeInUpDelay">Think you know Game of Thrones?</p>
            <br>
            <a href="#quiz" class="btn btn-dark btn-lg">Start the Quiz!</a>
	<head>
		<title>Quiz of Thrones</title>
		<link href='css/bootstrap.css' rel='stylesheet'>
	</head>

	<body>
		<button type='button'>About</button>
		<button type='button'>High Scores</button>

		<ul>
		<% @questions.each do |question| %>
			<li><%= question.content %></li>
		
			
		</ul>
<% end %>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src='js/bootstrap.js'></script>
</body>

</html>

