<div class='container'>

    <header id="top" class="header">
        <div class="text-vertical-center">
            <br>
            <a href="#quiz" class="btn btn-dark btn-lg">Start the Quiz!</a>
        </div>
    </header>

	<head>
		<title>Quiz of Thrones</title>
		
	</head>

	<body>

    	<div id='time'></div>
	
			<div class='col-md-12'>
				<ul>
					<%= render 'form' %>
				</ul>
		
			</div>

	</body>



<div>