<div class='container'>

<html>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <br>
            <a href="#quiz" class="btn btn-dark btn-lg">Start the Quiz!</a>
        </div>
    </header>
	<head>
		<title>Quiz of Thrones</title>
		
	</head>

	<body>
		<h1 class="animated bounceInDown">Quiz of Thrones</h1>
        <p class="animated fadeInUpDelay">Think you know Game of Thrones?</p>

    <div id='test_status'></div>
	<div id="quiz">
	<div class='col-md-12'>
		<ul>
			<form>
			<% @questions.each do |question| %>
				<li><%= question.content %></li>
				<% question.answers.each do |answer| %>
				<%= radio_button_tag("answer[#{question.id}]", answer.id) %>
				<%= label("answer_".concat(answer.id.to_s).to_sym, answer.content, class: 'answers') %>
					<!-- <input type="radio" name="answers"><%= answer.content %> -->
					<br>
				<% end %>
			</form>
			<% end %>
				<input type="submit" name="submitbtn">	
		</ul>
	</div>
	</div>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<!-- <script src='../vendor/assets/javascripts/bootstrap.min.js'></script> -->
</body>

</html>

<div>