<div class='container'>



	<head>
		
		
	</head>

	<body>
		<br>
		<br>
		<br>
		<br>

		<div class='col-md-12'>
			<div id='title'>
				<h1 style="font-family:Game-of-Thrones;">QUIZ OF THRONES</h1>
			</div>
		</div>

		<button id="tempbtn"></button>

    	<div id='time'></div>
	
			<div class='col-md-12'>
				<ul>
					<%= render 'form' %>
				</ul>	
		
			</div>

	</body>



<div>