

<html>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 class="animated bounceInDown">Quiz of Thrones</h1>
            <p class="animated fadeInUpDelay">Think you know Game of Thrones?</p>
            <br>
            <a href="#quiz" class="btn btn-dark btn-lg">Start the Quiz!</a>
	<head>
		<title>Quiz of Thrones</title>
	</head>

	<body>
		<ul>
		<% @questions.each do |question| %>
			<li><%= question.content %></li>
		
				<% question.fields_for :answers do |ff| %>
			<li><%= ff.label :content %></li>
				<% end %>
		</ul>
<% end %>
</body>

</html>

