<div class='container'>

    <header id="top" class="header">
        <div class="text-vertical-center">
            <br>
            <br>
            <br>
        </div>
    </header>

	<head>
		<div class='row'>
			<h1 style="font-family:Game-of-Thrones;">QUIZ OF THRONES</h1>
			<br>
			<br>
		</div>
	</head>

	<body>

		<button id="tempbtn"></button>

    	<div id='time'></div>
	
			<div class='col-md-12'>
				<ul>
					<%= render 'form' %>
				</ul>
		
			</div>

	</body>



<div>