<div class='container'>

<html>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <br>
            <a href="#quiz" class="btn btn-dark btn-lg">Start the Quiz!</a>
        </div>
    </header>
	<head>
		<title>Quiz of Thrones</title>
		<link href='css/main.css' rel='stylesheet'>
		<link href='css/bootstrap.css' rel='stylesheet'>
	</head>

	<body>
		<h1 class="animated bounceInDown">Quiz of Thrones</h1>
        <p class="animated fadeInUpDelay">Think you know Game of Thrones?</p>

    <div id='test_status'></div>
	<div id="quiz">
	<div class='col-md-12'>
		<ul>
			<form>
			<% @questions.each do |question| %>
				<li><%= question.content %></li>
				<% question.answers.each do |answer| %>
					<input type="radio" name="answers"><%= answer.content %>
					<br>
				<% end %>
			</form>
			<% end %>
				<input type="submit" name="submit" id="submitting_answer">	
		</ul>
	</div>
	</div>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src='js/bootstrap.js'></script>
</body>

</html>

<div>