
<html>
	<head>
		<title></title>
	</head>

	<body>

		<ul><% @questions.each do |question| %>
			<li><%=question.content %> </li>
		

			<li><%= question.answers %></li>


	</body>
</html>>	


</table>