/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

@font-face{
	font-family: "Game-of-Thrones";
	src: url(/assets/Game-of-Thrones.ttf) format("truetype");
}

/*@font-face{
	font-family: "SonOfTmU";
	src: url(/assets/SonOfTmU.ttf) format("truetype");
}*/

body{
	padding-top: 70px;
	/*line-height: 100%;*/
}

.questions, p{
	line-height: 30px;
	font-size: 22px;
}

p{
	text-align: center;
	padding: 0px 100px 0px 100px;
}
h1,h2{
	font-family: "Game-of-Thrones";
	text-align: center;
	padding-bottom: 10px;
}

#quiz{
	text-align: center;
}

ul{
	list-style-type: none;
}

.input-group{
	padding: 0px 400px 0px 400px;
}

.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}
#about_pg_start_quiz_btn, #quiz_submit_btn{
	padding: 15px 150px 15px 150px;
	font-size: 25px;
	margin-top: 20px;
}



