<header class="navbar navbar-fixed-top navbar-inverse">
	<div class='container-fluid'>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", root_path %></li>
        <li><%= link_to "High Scores",scores_path %></li>
      </ul>
      
      <ul class='nav navbar-nav navbar-left'>
        <li id="start_quiz"><%= link_to "Start Quiz", questions_path %></li>
      </ul>  
    </nav>
  </div>
</header>